h1 {
    color: white;
    margin-top: -100px;
    margin-left: 20px;
}

p {
    margin-top: 60px;
    text-align: justify;
    padding: 30px;

}

.main {

    margin-left: 20px;
    margin-right: 20px;
}

img {
    width: 100%;
}