body{
    justify-content: center;
}
form{
    
    width: 60%;
    margin-left: 300px;
    margin-top: 70px;
    font-size: larger;
    justify-content: center;
}
h1{
    text-align: center;
    margin: 40px;
    color: blue;
}