<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Services</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src=''></script>
</head>
<body>
    <h1 style="color: blue;">SERVICES</h1>
    <div class="main">
        
        <div class="div1">
            <img src="../../assets/images/gadg5.jpg" alt="img5">
            <h1>IoT Engineering</h1>
            <p>Gadgeon provides end-to-end IoT engineering services from edge devices/sensors, cloud, to mobile/web applications. We serve enterprises, start-ups, and OEMs in connecting devices to IoT edge gateways communicating over different protocols. Gadgeon provides IoT software development and IoT software Services towards building Industrial as well as non-industrial IoT Solutions and services offered in different models such as SaaS, PaaS, etc. Our end-to-end solution testing, including test automation, makes sure that all the system components are tested and validated right from design to delivery stage.</p>
        </div>
        <div class="div2">
            <img src="../../assets/images/gadg6.jpg" alt="img6">
            <h1>Product Engineering</h1>
            <p>Our Product engineering services use hardware, embedded, software, and IT solutions for faster design, development, and launching of products. Today, lack of the right domain experience or technical expertise is not a barrier to building profitable products. Instead of relying on home grown talent and resources, which requires high investment in time and money, customers can leverage the expertise of product engineering service (PES) from Gadgeon.
            </p>
        </div>
        <div class="div3">
            <img src="../../assets/images/gadg7.jpg" alt="img7">
            <h1>Digitalization Services</h1>
            <p>A successful digitalization approach should be viewed more from a customer experience perspective than purely as a large process automation / IT modernization initiative. Digitalization is all about business simplification that helps to build self-sufficient business models for cost-effectiveness and consistent value. A successful digitalization initiative requires key ingredients like an aligned vision, prioritized goals, and a pragmatic digital-first approach for implementation with strong enablers and foundational elements.
            </p>
        </div>
    </div>
</body>
</html>
