
body{
    text-align: center;
    
}
img{
    width: 30%;
    height: 300px;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    border: 4px black solid;
}
.main{
    margin-left: 10px;
    margin-right: 10px;

}
p{
    text-align: justify;
    padding: 30px;
}